:root {
    /* deep navy */
    --primary-color: 11 45 77;
    /* evergreen */
    --secondary-color: 15 107 78;
    /* paddle yellow */
    --accent-color: 255 210 63;
    /* white */
    --accent2-color: 255 255 255;
    /* black */
    --accent3-color: 0 0 0;
    --body-font: Arial, Helvetica, sans-serif;
    --heading-font: "Trebuchet MS", Trebuchet, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
    max-width: 1440px;
    margin: 0 auto;
}

header,
main,
footer {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 8px;
}

.nav-bar nav {
    grid-column: 2/6;
    grid-row: 1;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: xx-large;
}

p,
section,
article,
address {
    padding: 8px;
    margin: 0px;

}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    overflow: visible;
    min-height: 700px;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.hero h1 {
    position: absolute;
    left: 5%;
    width: 90%;
    top: 55%;
    transform: translateY(-100%);
    padding: 12px;
    margin: 0;
    background-color: rgb(var(--accent-color) / 0.85);
    text-align: center;
}

.hero article {
    position: absolute;
    left: 5%;
    width: 90%;
    top: 55%;
    padding: 16px;
    margin: 0;
    background-color: rgb(var(--accent2-color) / 0.85);
}

.hero article img {
    float: right;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 20px;
}

.socialmedia img {
    max-width: 40px;
    height: auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 8px 0;
}

header nav a {
    flex: auto;
    width: 100%;
    display: block;
    text-decoration: none;
    font-weight: 700;
    color: var(--accent3-color);
    font-size: 1.2rem;
    justify-content: space-around;
    margin-right: 2rem;
    padding: 2px 2rem;
}

.logo {
    max-width: 400px;
    height: auto;
    margin: -48px -60px -100px -60px;
    grid-column: 1/2;
    grid-row: 1/6;

}

p {
    line-height: 1.5rem;
}

.history {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 80px;
    margin-bottom: 80px;
    gap: 16px;
}

.history img {
    max-width: 200px;
    height: auto;
}

.history h2 {
    flex: 0 0 100%;
    text-align: center;
}

.history p.left {
    max-width: 500px;
    min-width: 300px;
}

.history p.right {
    max-width: 500px;
    min-width: 300px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    max-width: 1440px;
    align-items: center;
    padding: 24px 0px 24px 24px;
    background-color: rgb(var(--secondary-color));
    color: rgb(var(--accent2-color));
}

footer p {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: left;
    color: rgb(var(--accent2-color));
}

footer nav {
    grid-column: 3/4;
    grid-row: 1/2;
}

.adventure {
    max-width: 1440px;
    background-color: rgb(var(--primary-color));
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    color: rgb(var(--accent2-color));

}

figure img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.adventure h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    color: rgb(var(--accent2-color));
}

.adventure figure {
    color: rgb(var(--accent2-color));
    text-align: center;
}

footer .socialmedia img {
    filter: brightness(0) invert(1) contrast(1.2);
}

.info {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 3fr;
    margin-bottom: 2rem;
}

.info h1 {
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: rgb(var(--accent-color));
    align-content: center;
    text-align: center;
}

.info address {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    font-size: 1.2rem;
    line-height: 140%;
}

.mapform {
    max-width: 1440px;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0rem;
    align-items: stretch;
}

.mapform .map {
    display: flex;
}

.mapform .map iframe {
    width: 100%;
    height: 100%;
    border: 0;
    min-height: 450px;
}

.mapform .map,
.mapform form {
    min-width: 300px;
    flex: 1 1 calc(50% - 2rem);
}

.mapform input,
.mapform textarea {
    font-family: var(--body-font);
    font-size: 1rem;
    font-weight: 400;
    padding: .5rem;
    width: 100%;
    margin: .25rem 0 1rem 0;
    border-radius: 4px;
    border: 2px rgb(var(--secondary-color)) solid;
    background-color: rgb(var(--accent2-color) / 0.85);
}

form {
    background-color: rgb(var(--secondary-color));
    padding: 0 4rem;
    color: rgb(var(--accent2-color));
}

form h2 {
    font-size: x-large;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
    background-color: rgb(var(--secondary-color));
    color: rgb(var(--accent2-color));

}

label[for="name"],
label[for="email"],
label[for="message"],
.mapform legend {
    font-size: .9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(var(--accent2-color));
}

.centerface {
    object-position: center 5%;
}

fieldset div {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: .5rem;
}

input[type="radio"] {
    width: auto;
    margin: .25rem;
}

fieldset {
    margin-bottom: 1rem;
    border: none;
}

.newsletter {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: .5rem 0;
}

input[type="checkbox"] {
    width: auto;
}

button,
input[type="button"],
input[type="submit"] {
    appearance: none;
    background: none;
    border: none;
    box-shadow: none;
}

button {
    display: block;
    font-size: 1rem;
    padding: 8px 24px;
    margin: 24px auto 16px;
    background-color: rgb(var(--accent2-color));
    color: rgb(var(--primary-color));
    border: 1px rgb(var(--primary-color)) solid;
    border-radius: 4px;
}

button:hover {
    background-color: rgb(var(--accent-color));
    color: rgb(var(--primary-color));
    border: 1px rgb(var(--primary-color)) solid;
    border-radius: 4px;
    font-weight: 700;
}

label[for="subscribe"],
label[for="reservation"],
label[for="general"],
label[for="website"] {
    color: rgb(var(--accent2-color));
}

input[type="radio"],
input[type="checkbox"] {
    accent-color: rgb(var(--primary-color));
    width: 16px;
    height: 16px;
}

::placeholder {
    color: rgb(var(--accent3-color) / .85);
    font-style: italic;
}